/* Estilos para la el header*/
.gris {
    background: rgba(0, 0, 0, 0.6);
}
.top-nav-collapse {
    background: rgba(0, 0, 0, 0.9) !important;
}
.texto{
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
}